body {
  padding: 10px;
  font-family: sans-serif;
}


.cards, .wonders, .board, .board_info, .board_cardsAge, .board_players {
  overflow: hidden;
}

.cards .card_container, .wonders .wonder_container, .board_cardsAge .card_container {
  float: left;
}