<template name="victoryPoint_template">
    <span class="victoryPoint">{{victoryPoint}}</span>
</template>

<template name="coin_template">
    {{#if hasCoins}}
    <span class="coin">{{coins}}</span>
    {{/if}}
</template>

<template name="war_template">
    <span class="war"></span>
</template>

<template name="ok_template">
    <div class="ok" style="border-color:{{color}};">
        {{#if value}}
        <span style="color:{{color}};">{{value}}</span>
        {{else}}
        <svg class="bi bi-check" width="16px" height="16px" viewBox="0 0 16 16" fill="{{color}}"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z"
                clip-rule="evenodd" />
        </svg>
        {{/if}}
    </div>
</template>

<template name="ko_template">
    <div class="ko">
        <svg class="bi bi-x" width="16px" height="16px" viewBox="0 0 16 16" fill="red"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                clip-rule="evenodd" />
        </svg>
    </div>
</template>