<template name="board_template">
    <div class="card" style="margin:10px;">
        <div class="card-header">
            <h3>
                Board
                <span class="badge badge-info">age : {{board.age}}</span>
                <button type="button" class="btn btn-danger float-right logout">Deconnexion</button>
            </h3>
        </div>

        <div class="card-body">
            <button type="button" class="btn btn-primary nextAge">Age suivant</button>
            <button type="button" class="btn btn-primary switchCard">Echanger cartes</button>
            <button type="button" class="btn btn-primary addPlayer">Ajouter joueur</button>

        </div>
    </div>

    <div class="card" style="margin:10px;">
        <div class="card-header">
            <h3>
                Joueurs
                <span class="badge badge-info float-right">{{board.players.length}}</span>
            </h3>
        </div>

        <div class="card-body">
            {{#each player in board.players}}
            {{> player_template player=player board=board}}
            {{/each}}
        </div>
    </div>

</template>