<template name="cardChoiceActions_template">
    <div class="cardChoiceActions_container">
        {{#if free}}
        <div class="canAdd">{{> ok_template color="green"}}</div>
        {{/if}}
        {{#if impossible}}
        <div class="cantAdd">{{> ko_template}}</div>
        {{/if}}
        {{#if buy}}
        <div class="canBuy">{{> ok_template color="orange" value=buy}}</div>
        {{/if}}

        <div class="over">
            <p class="info">{{info}}</p>
            {{#if canPlayAction}}
            {{#if canPlayCard}}
            <button type="button" class="btn btn-dark playCard">Jouer carte</button>
            {{/if}}
            {{#if canBuildStep}}
            <button type="button" class="btn btn-dark playStep">Construire Merveille</button>
            {{/if}}
            <button type="button" class="btn btn-dark discardCard">Défausser</button>
            <button type="button" class="btn btn-dark infoCard">Info</button>
            {{else}}
            <div class="alert alert-dark" role="alert">
                Annuler votre sélection pour choisir une autre carte
            </div>
            {{/if}}
        </div>

        {{> card_template card=card}}
    </div>
</template>