<template name="preparation_template">
    <div class="preparation_container">
        <div class="card" style="margin:10px;">
            <div class="card-header">
                <h1 class="text-center">
                    7wonders by Matou et FlouFlou
                </h1>
            </div>
            <div class="card-body">

                <div class="alert alert-danger" role="alert">
                    <p>
                        Vous êtes sur le point de jouer à 7Wonders, un jeu de société génialissime.<br />
                        Cette application n'a pas été autorisé par l'éditeur!<br />
                        La sécurité du serveur a était codé avec les pieds.<br />
                        Mais toutes les extensions sont disponible et ça c'est fantastique (enfin pour le moment
                        aucune :D)
                    </p>

                    <p>-> A vos risques et péril!</p>
                </div>


                {{#if isConnected}}
                <h3>
                    Partie : ({{nbsPlayers}} / {{board.nbMaxPlayers}})

                    <button type="button" class="btn btn-danger float-right logout">Deconnexion</button>
                    <button type="button" class="btn btn-success float-right addPlayerTest">
                        Ajouter joueur (TEST)
                    </button>
                </h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Status</th>
                            {{#if isLeader}}
                            <th scope="col"><span class="float-right">Actions</span></th>
                            {{/if}}
                        </tr>
                    </thead>
                    <tbody>

                        {{#if board}}

                        {{#each player in players}}
                        <tr class="{{me player}} {{leader player}}">
                            <td class="pseudo">{{player.pseudo}}</td>
                            <td class="{{alive player}}">
                                <b>Connecté</b>
                                <b>Déconnecté</b>
                                <b>Absent {{timeInactive player}}</b>
                            </td>
                            {{#if isLeader}}
                            <td>
                                <button data-pseudo={{player.pseudo}} type="button"
                                    class="btn btn-danger float-right kik">
                                    virer
                                </button>
                            </td>
                            {{/if}}
                        </tr>
                        {{/each}}

                        {{/if}}

                    </tbody>
                </table>
                {{#if isLeader}}
                <form class="form-inline float-right">

                    <select class="custom-select mb-2 mr-sm-2 extensions">
                        <option selected>Extensions</option>
                    </select>

                    <button type="button" class="btn btn-primary mb-2 mr-sm-2 play"
                        disabled="{{full players board}}">Jouer</button>
                </form>
                {{/if}}


                {{else}}
                <form>
                    <div class="form-group">
                        <label for="inputPseudo">Pseudo : </label>
                        <input type="text" class="form-control" id="inputPseudo">
                        <small id="emailHelp" class="form-text text-muted">Des lettres ou des chiffres, de 3 à 12
                            caractères</small>
                    </div>
                    <button type="button" class="btn btn-primary playerJoin">Jouer</button>
                </form>
                {{/if}}
            </div>
            <div class="card-footer">
                <p class="m-0">{{message}}</p>
            </div>

        </div>
    </div>
</template>