<template name="step_template">
    <div class="step_container">
        {{#if free}}
        <div class="canAdd">{{> ok_template color="green"}}</div>
        {{/if}}
        {{#if impossible}}
        <div class="cantAdd">{{> ko_template}}</div>
        {{/if}}
        {{#if buy}}
        <div class="canBuy">{{> ok_template color="orange" value=buy}}</div>
        {{/if}}
        {{#if step.hasCard}}
        <div class="step_card"></div>
        {{/if}}
        <div class="step_cost step_cost_size_{{costSize}}">
            {{#if hasCoinsCost}}
            <span class="coin">{{step.coinsCost}}</span>
            {{/if}}

            {{#each ressource in step.ressourcesCost}}
            {{> ressource_template ressource=ressource }}
            {{/each}}
        </div>
        <div class="step_effect">
            {{#each effect in step.effects}}
            {{> effect_template effect=effect size="big"}}
            {{/each}}
        </div>
    </div>
</template>