<template name="wonder_template">
    <div class="wonder_container">
        <div class="wonder_mainEffect bg_{{getAdvantageColor}}">
            {{#each effect in wonder.mainEffects}}
            {{> effect_template effect=effect size="big"}}
            {{/each}}
        </div>

        <div class="wonder_name">
            {{wonder.name}}<br />({{wonder.face}})
        </div>

        <div class="wonder_steps">
            {{#each step in wonder.steps}}
            {{> step_template step=step}}
            {{/each}}
        </div>

    </div>
</template>