.coin {    
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    vertical-align: middle;
    font-weight: 700;
    color: black;
    text-shadow: 0px 0px 2px white;

    background-position: center;
    background-size: 100% 100%;
    background-repeat:  no-repeat;
    background-image: url("/images/global/coin.png");
    
    .wonder_globalContainer & {
        height: 30px;
        width: 30px;
        display: inline-flex;
        float: right;
        margin-right: 72px;
    }

    .card_cost & {
        height: 16px;
        width: 16px;
        font-size: 12px;
    }

    .card_effect &, .step_effect &, .wonder_mainEffect & {
        height: 24px;
        width: 24px;
        font-size: 16px;
    }

    .link_effect & {
        height: 14px;
        width: 14px;
        font-size: 10px;
    }

    .effect_reduction & {
        height: 14px;
        width: 14px;
        font-size: 10px;
        margin-top: -19px;
        position: absolute;
    }

    .step_cost & {
        height: 15px;
        width: 15px;
        font-size: 10px;
    }

    .effect_symbol & {
        height: 16px;
        width: 16px;
        font-size: 12px;
    }

    .effect_cardColor & {
        height: 16px;
        width: 16px;
        font-size: 12px;
    }
    
   
}

.victoryPoint {
    display: flex;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    text-shadow: 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000;
    justify-content: center;

    background-position: center;
    background-size: 100% 100%;
    background-repeat:  no-repeat;
    background-image: url("/images/global/victory_point.png");

    .card_effect &, .step_effect & {
        height: 34px;
        width: 34px;
        line-height: 34px;
        font-size: 19px;
    }

    .link_effect & {
        height: 14px;
        width: 14px;
        line-height: 14px;
        font-size: 10px;
    }

    .effect_symbol & {
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-size: 14px;
    }

    .effect_cardColor & {
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-size: 14px;
    }

    .effect_money_victory & {
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-size: 14px;
    }
}


.war {
    display: flex;
    align-items: center;
    background-position: center;
    background-size: 100% 100%;
    background-repeat:  no-repeat;
    background-image: url("/images/global/war.png");
    
    .card_effect & {
        height: 30px;
        width: 30px;
    }
    
    .step_effect & {
        height: 24px;
        width: 24px;
    }

    .link_effect & {
        height: 14px;
        width: 14px;
    }
}

.ok {
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.ko {
    border: solid 2px red;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}