.card_container {
    border: solid 3px #000000;
    border-radius: 10px;
    position: relative;
    font-family: monospace;
    width: 130px;
    height: 200px;
}

.card_name {
    font-size: 12px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    position: absolute;
    left: 5px;
    bottom: 0;
    font-weight: bold;
    transform: rotate(180deg);
    background-color: white;
    border-left: solid 1px  gray;
    border-right: solid 1px  gray;
    padding: 5px 0px 5px 0px;
    letter-spacing: -0.5px;

    .bg_purple & {
        font-size: 8px;
    }
}

.card_image {
    background-color: lightgray;
    bottom: 0;
    right: 0;
    height: 150px;
    width: 100px;
    position: absolute;
    border-bottom-right-radius: 5px;
}

.card_effect {
    position: absolute;
    top: 0;
    left: 25px;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .ressource_container {
        height: 30px;
        width: 30px;
    }
}

.card_links {
    position: absolute;
    right: 5px;
    bottom: 0;
}

.card_effect .effect_war {
    font-size: 30px;
}

.card_cost {
    width: 5px;
    background: white;
    top: 0;
    left: 10px;
    position: absolute;

    .ressource_container {
        margin: 0px -6px;
    }

    .coin {
        margin: 5px -7px;
    }
}

