.card_container {
    border: solid 3px #000000;
    border-radius: 10px;
    position: relative;
}

.card_big {
    width: 130px;
    height: 200px;
}

.card_name {
    font-size: 11px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    position: absolute;
    left: 5px;
    bottom: 0;
    font-weight: bold;
    transform: rotate(180deg);
    background-color: white;
    border-left: solid 1px  gray;
    border-right: solid 1px  gray;
    padding: 5px 0px 10px 0px;
}

.card_image {
    background-color: lightgray;
    bottom: 0;
    right: 0;
    height: 150px;
    width: 100px;
    position: absolute;
    border-bottom-right-radius: 5px;
}

.card_effect {
    position: absolute;
    top: 0;
    left: 30px;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_links {
    position: absolute;
    right: 5px;
    bottom: 0;
}

.card_effect .effect_war {
    font-size: 30px;
}

.card_cost {
    width: 5px;
    background: white;
    top: 0;
    left: 10px;
    position: absolute;
}

.card_cost .ressource_container {
    margin: 0px -7px;
}

.card_cost .coin {
    margin: 5px -7px;
}