.card_container {
    border: solid 2px #000000;
    position: relative;
    font-family: monospace;
    overflow: hidden;

    &.last {
        border: solid 2px red;
    }
    
    &.full {
        border-radius: 10px;
        width: 130px;
        height: 200px;

        .card_effect {
            position: absolute;
            top: 0;
            left: 25px;
            right: 0;
            height: 45px;
        }
    }

    &.mini {
        border-radius: 3px;
    }
}

.card_name {
    font-size: 12px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    position: absolute;
    left: 5px;
    bottom: 0;
    font-weight: bold;
    transform: rotate(180deg);
    background-color: white;
    border-left: solid 1px  gray;
    border-right: solid 1px  gray;
    padding: 5px 0px 5px 0px;
    letter-spacing: -0.5px;
    line-height: 14px;

    .bg_purple & {
        font-size: 8px;
    }
}

.card_image {
    background-color: lightgray;
    bottom: 0;
    right: 0;
    height: 149px;
    width: 99px;
    position: absolute;
}

.card_effect {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_links {
    position: absolute;
    right: 5px;
    bottom: 0;
}

.card_effect .effect_war {
    font-size: 30px;
}

.card_cost {
    width: 5px;
    background: white;
    top: 0;
    left: 10px;
    position: absolute;

    .ressource_container {
        margin: 0px -6px;
    }

    .coin {
        margin: 5px -5px;
    }
}

