.effect_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 2px;

    .card_effect & {
        height: 34px;
    }

    .link_effect {
        height: auto;
    }
    
}

.effect_ressources span:last-child,
.effect_scientific span:last-child {
    display: none;
}

.effect_war {
    color: rgb(104, 28, 28);
    font-weight: bold;
}

.effect_reduction {
    flex-direction: column-reverse;
    justify-content: end;

    .effect_reduction_container {
        display: inline-flex;
        background-color: #cecece;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        height: 18px;
    }
}

.effect_copyCardColor {

    .effect_card {
        border: solid 1px white;
        height: 25px;
        width: 18px;
        border-radius: 2px;
        position: relative;
        display: flex;
        align-items: center;
    }

    .effect_apply {
        font-size: 22px;
        letter-spacing: -2px;
        margin: 0 0 0 5px;
    }
}

.effect_cardColor {

    .effect_card {
        border: solid 1px white;
        height: 25px;
        width: 18px;
        border-radius: 2px;
        position: relative;
        display: flex;
        align-items: center;


        &.notAlone {
            margin: 0 10px;

            .victoryPoint {
                position: absolute;
                bottom: -8px;
                left: -12px;
               
            }
            
            .coin {
                position: absolute;
                bottom: -6px;
                right: -12px;
            }
        }

       
    }

    .effect_arrow {
        

        &.arrowLeft {
            margin-right: 3px;
            font-size: 20px;
        }

        &.arrowRight {
            margin-left: 3px;
            font-size: 20px;
        }

        &.arrowOwn {
            position: absolute;
            top: 18px;
            font-size: 16px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

}



.separator {
    font-weight: bold;
    color: black;
    
    .card_container.bg_brown & {
        color: white;
    }
}

.effect_defeat {
    width: 50px;
}

.effect_money_victory {
    position: relative;
    width: 40px;

    .victoryPoint {
        position: absolute;
        left: 21px;
        top: 14px;
    }
}

.effect_step {
    width: 50px;
}

.effect_symbol{
    display: flex;
    align-items: center;
    background-position: center;
    background-size: 100% 100%;
    background-repeat:  no-repeat;
    height: 35px;
    width: 35px;
    position: relative;

    .victoryPoint {
        top: 17px;
        right: -9px;
        position: absolute;
    }

    .coin {
        top: 20px;
        left: -9px;
        position: absolute;
    }
}

.step {
    background-image: url("/images/global/step.png");
}
.defeat {
    background-image: url("/images/global/defeat.png");
}
.war_victory_point {
    background-image: url("/images/global/war_victory_point.png");
}

.effect_pickCard {
    background-image: url("/images/global/pick_card.png");
    background-position: center;
    background-size: 100% 100%;
    height: 45px;
    width: 50px;
}

.effect_dualPlay {
    background-image: url("/images/global/dual_play.png");
    background-position: center;
    background-size: 100% 100%;
    height: 55px;
    width: 60px;
}

.effect_freeLastCard {
    background-image: url("/images/global/free_last_card.png");
    background-position: center;
    background-size: 100% 100%;
    height: 40px;
    width: 45px;
}