.link_container {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    background-color: white;
    padding: 2px 0px 10px 0px;
    display: inline-flex;
    align-items: center;
    margin-bottom: -5px;
    line-height: 12px;
}

.link_container .victoryPoint {
    color: black;
    text-shadow: none;
    font-weight: bold;
}

.link_container .ressource_container {
    margin: 0;
}

.link_name {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.link_color_blue {
    border-left: solid 1px blue;
    border-right: solid 1px blue;
}

.link_color_red {
    border-left: solid 1px red;
    border-right: solid 1px red;
}

.link_color_green {
    border-left: solid 1px green;
    border-right: solid 1px green;
}

.link_color_yellow {
    border-left: solid 1px yellow;
    border-right: solid 1px yellow;
}


