.preparation_container {
    h3 {
        button {
            margin: 0 5px;
        }
    }
    
    .custom-select {
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    
    .me {
        .pseudo{
            font-weight: bold;
        }
        .kik {
            display: none
        }
    }



    .leader .pseudo{
        color: red;
    }

    .connected {
        :first-child {
            display: block;
            color: green;
        }
        :nth-child(2),:nth-child(3) {
            display: none;
        }

    }
    .disconnected {
        :first-child,:nth-child(3) {
            display: none;
        }
        :nth-child(2) {
            display: block;
            color: red;
        }
    }
    .inactive {
        :first-child,:nth-child(2) {
            display: none;
        }
        :nth-child(3) {
            display: block;
            color: orange;
        }
    }
}