.ressource_container {
    border-radius: 50%;
    border: solid 1px transparent;
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat:  no-repeat;

    .card_effect & {
        height: 34px;
        width: 34px;

        .bg_yellow & {
            height: 18px;
            width: 18px;
        }
    }

    .effect_reduction & {
        height: 18px;
        width: 18px;

        .step_effect & {
            height: 18px;
            width: 18px;
        }
    }
    
    .step_effect & {
        height: 24px;
        width: 24px;
    }

    .link_effect & {
        height: 14px;
        width: 14px;

        .card_id_44 & {
            height: 10px;
            width: 10px;
        }
    }
}


.ressource_id_1 {
    background-image: url("/images/resources/clay.png");
}

.ressource_id_3 {
    background-image: url("/images/resources/stone.png");
}

.ressource_id_4 {
    background-image: url("/images/resources/wood.png");
}

.ressource_id_2 {
    background-image: url("/images/resources/ore.png");
}

.ressource_id_5 {
    background-image: url("/images/resources/glass.png");
}

.ressource_id_6 {
    background-image: url("/images/resources/textile.png");
}

.ressource_id_7 {
    background-image: url("/images/resources/papyrus.png");
}