.scientific_container {
    border: solid 1px transparent;
    border-radius: 50%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .card_effect & {
        height: 34px;
        width: 34px;

        .bg_purple & {
            height: 24px;
            width: 24px;
        }
    }
    
    .step_effect & {
        height: 24px;
        width: 24px;
    }

    .link_effect & {
        height: 14px;
        width: 14px;
    }
    
}

.scientific_id_1 {
    background-image: url("/images/scientifics/compass.png");
}

.scientific_id_2 {
    background-image: url("/images/scientifics/wheel.png");
}

.scientific_id_3 {
    background-image: url("/images/scientifics/tablet.png");
}

