.step_container {
    width: 130px;
    background: darkgray;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    position: relative;

    .wonder_steps_size_4 & {
        margin: 0 1px;
        width: 110px;
    }
    .wonder_steps_size_2 & {
        justify-content: flex-end;
        width: 140px;
    }
    .wonder_steps_size_1 & {
        justify-content: flex-end;
        width: 155px;        
    }

    .canAdd, .cantAdd, .canBuy {
        position: absolute;
        top: -6px;
        right: -6px;
        z-index: 20;
    }

}

.step_effect {
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 15px;
   
}

.wonder_steps_size_1 {
    .step_cost_size_1 + .step_effect,
    .step_cost_size_2 + .step_effect,
    .step_cost_size_3 + .step_effect{
        width: 110px;
    }
    .step_cost_size_4 + .step_effect,
    .step_cost_size_5 + .step_effect{
        margin-left: 32px;
        width: 105px;
    }
    .step_cost_size_6 + .step_effect,
    .step_cost_size_7 + .step_effect{
        margin-left: 14px;
        width: 103px;
    }
}
.wonder_steps_size_2 {
    .step_cost_size_1 + .step_effect,
    .step_cost_size_2 + .step_effect,
    .step_cost_size_3 + .step_effect{
        margin-left: 5px;
        width: 120px;
    }
    .step_cost_size_4 + .step_effect,
    .step_cost_size_5 + .step_effect{
        margin-left: 32px;
        width: 105px;
    }
}
.wonder_steps_size_3 {
    .step_cost_size_1 + .step_effect,
    .step_cost_size_2 + .step_effect,
    .step_cost_size_3 + .step_effect{
        margin-left: 15px;
        width: 110px;
    }
    .step_cost_size_4 + .step_effect,
    .step_cost_size_5 + .step_effect{
        margin-left: 35px;
        width: 95px;
    }
}
.wonder_steps_size_4 {
    .step_cost_size_1 + .step_effect,
    .step_cost_size_2 + .step_effect,
    .step_cost_size_3 + .step_effect{
        width: 90px;
    }
    .step_cost_size_4 + .step_effect,
    .step_cost_size_5 + .step_effect{
        margin-left: 32px;
        width: 70px;
    }
}


.step_card {
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: -23px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.step_cost {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 8px;
    background: white;

    .column{
        float:left;
        
        width: 5px;

        .ressource_container {
            margin: 0px -7px;
        }

        .coin {
            margin: 5px -7px;
        }
        
        &:nth-child(n+2) {
            margin-left: 12px;
        }
        &:nth-child(2) {
            &.cost_size_4, &.cost_size_7 {
                margin-top: -8px;
            }
            &.cost_size_5 {
                margin-top: 8px;
            }
        }
    }
}