.step_container {
    width: 130px;
    background: darkgray;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    position: relative;

    .wonder_id_14 & {//gyzeh
        margin: 0 1px;
        width: 110px;
    }

    .wonder_id_2 &{//rodes B
       justify-content: flex-end;
    }

    .wonder_id_15 & {//Manneken Pis
        justify-content: flex-end;
        height: 85px;
    }

    .canAdd, .cantAdd, .canBuy {
        position: absolute;
        top: -6px;
        right: -6px;
        z-index: 20;
    }


}

.step_effect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 5px 15px;
}

.step_card {
    background-color: blue;
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: -23px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.step_cost {
    bottom: 0;
    position: absolute;
    left: 8px;
    width: 5px;
    background: white;

    .ressource_container {
        margin: 0px -7px;
    }

    .coin {
        margin: 5px -7px;
    }

    &.step_cost_size_4 {
        .ressource_container {
            width: 14px;
            height: 14px;
            margin: 0px -5px;
        }
    }

    &.step_cost_size_5, &.step_cost_size_6, &.step_cost_size_7 {
        .ressource_container {
            width: 12px;
            height: 12px;
            margin: 0px -4px;
        }
    }
}
