.table_globalContainer {
    
    .playerContainer {
        border: solid 1px black;
        padding: 0 !important;
        overflow-x: auto;
    }

    .row {
        margin: 10px 0;
    }

    .selectCard {
        position: absolute;
        z-index: 100;
        width:100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
    }

    .oneCardSelected {
        opacity: 0.3;
    }
}