<template name="accueil_template">
    <button class="btn btn-primary logout">Se deconnecter</button>
    <h1>Board</h1>
    <div class="board">
        {{> board_template board=board}}
    </div>

    <h1>Wonders</h1>
    <div class="wonders">
        {{#each wonder in wonders}}
        {{> wonder_template wonder=wonder}}
        {{/each}}
    </div>


    <div class="cards">

        <div class="card">
            <div class="card-header">
                Les cartes
            </div>
            <div class="card-body">
                {{#each card in cards}}
                {{> card_template card=card}}
                {{/each}}
            </div>
        </div>


    </div>
</template>